body {
    background-color: lightblue;
}
legend { 
    text-align: center 
}

form {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(165, 165, 147);
    width: 800px;
  }